In [1]:
import nltk

In [2]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\krish\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [3]:
import pandas as pd

In [5]:
dt = pd.read_csv("SPAM-210331-134237.csv",encoding=('ISO-8859-1'))

In [6]:
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [7]:
dt['spam']=dt['type'].map({'spam' : 1,'ham':0}).astype(int)
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [8]:
print("COLUMNS IN THE GIVEN DATA :")
for col in dt.columns:
    print(col)

COLUMNS IN THE GIVEN DATA :
type
text
spam

In [9]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COL:",t)
t=len(dt['text'])
print("NO OF ROWS IN LIKED COL:",t)

NO OF ROWS IN REVIEW COL: 116
NO OF ROWS IN LIKED COL: 116

In [11]:
#Tokenizer
def tokenizer(text):
    return text.split()
dt['text']=dt['text'].apply(tokenizer)

In [12]:
dt['text'][2]

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [13]:
#Lemmatization
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmat_it(text):
    return [lemmatizer.lemmatize(word,pos="a") for word in text]
dt['text']=dt['text'].apply(lemmat_it)

In [14]:
dt['text'][2]

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\krish\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
#Stopwords
from nltk.corpus import stopwords
stop_words=stopwords.words("english")
def stop_it(text):
    review=[word for word in text if not word in stop_words]
    return review
dt['text']=dt['text'].apply(stop_it)

In [17]:
#Vectorization
dt['text']=dt['text'].apply(''.join)
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [19]:
from sklearn.linear_model import LogisticRegression
clt = LogisticRegression()
clt.fit(x_train,y_train)
y_pred=clt.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_test)*100
print("Accuracy:",acc_log)

Accuracy: 87.5

In [21]:
from sklearn.svm import LinearSVC
linear_svc=LinearSVC(random_state=0)
linear_svc.fit(x_train,y_train)
y_pred=linear_svc.predict(x_test)
acc_linear_svc=accuracy_score(y_pred,y_test)*100
print("Accuracy:",acc_linear_svc)

Accuracy: 87.5